.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--grey-4);
}

.login-page div {
    color: var(--white);
}
.login-page div:nth-child(1) img {
    margin-bottom: 30px;
}

.login-page div h1 {
    margin-bottom: 30px;
}

.login-page div p {
    margin-bottom: 30px;
}
.login-page div button {
    width: 250px;
}
