.container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1300px;
    margin: 0 auto;
}

.main {
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    gap: 60px;
}

aside {
    width: 43%;
}

@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}
