.container {
    padding: 0 100px;
    max-width: 1300px;
    margin: 0 auto;
}

.main {
    padding-top: 120px;
    padding-bottom: 20px;
    display: flex;
    gap: 60px;
}

aside {
    width: 43%;
}
